@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
 margin: 0;
}
body {
  font-family: "Open Sans";
 
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
}
/*======= COMMON =======*/
@media (min-width: 960px) {
  h2 {
    font-size: 4vw;
    font-weight: bold;
    position: relative;
    color: #ffffff;
    text-transform: uppercase;
  }
  h3 {
    color: #c1c1c1;
    font-size: 1.8vw;
    font-weight: bold;
    text-transform: uppercase;
  }

  p {
    font-size: 1vw;
	line-height: 28px;
    letter-spacing: 1px;
  }
  a {
    text-decoration: none;
  }

  /*=======Header=======*/
  .header {
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url(../img/football_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	 padding-bottom: 5.25vw;
	 padding-top: 2.25vw;
  }

  .header:before {
    content: "";
    position: absolute;
    background-color: #1c1737;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .header-wrapper {
    max-width: 1530px;

	margin-left: 9vw;
	margin-right: 9vw;
  }
  .header-logo-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
	
  }
  .header-logo {
    width: 9.25vw;
    fill: #ffffff;
 
  }
  .header-title-wrapper {
	   display: flex;
	   flex-wrap: wrap;
	
    margin-top: 14.5vw;
  }
  .header-title {

    font-size: 4.5vw;
    font-weight: bold;
    position: relative;
    color: #ffffff;
    text-transform: uppercase;


  }
  .header-desc {
   
    font-size: 4.5vw;
    font-weight: bold;
    position: relative;
    color: #ffffff;
    text-transform: uppercase;

    padding-left: 21.75vw;
  }

  .dwnl-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11vw;
  }
  .dwnl-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 1.25vw;
  }
  .dwnl-get {
    font-size: 14px;
    font-weight: normal;
  }
  .dwnl-store {
    font-size: 14px;
    font-weight: bold;
  }
  .dwnl-apple,
  .dwnl-google {
   
    display: flex;
    height: 75px;
    width: 305px;
    background-color: #5e42b0;
    border: none;
    border-radius: 50px;

    color: #ffffff;
    font-family: "Open Sans";
    text-transform: uppercase;
  }
  .store-icon {
    width: 45px;
    fill: #ffffff;
    margin-left: 50px;
  }
  .dwnl-google {
    margin-left: 50px;
  }

  /*=======MAIN=======*/
  .main {
    position: relative;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
  }
  .main:before {
    content: "";
    position: absolute;
  }

  .picture-wrapper {
    width: 50%;
  }
  .main-img {
    max-width: 100%;
  }

  .main-title {
    line-height: 3vw;
    color: #e7e7e7;
  }
  .football {
    max-width: 50%;
    position: absolute;
    padding-left: 20vw;
  }
  .main-header-wrapper {
    padding-bottom: 5.5vw;
  }
  .main-content-right {
    max-width: 1530px;
    padding-left: 40.65vw;
    padding-top: 5.25vw;
    margin-left: 9vw;
    margin-right: 9vw;
  }
  .main-content-left {
    max-width: 1530px;
    padding-top: 5.25vw;
    margin-left: 9vw;
    margin-right: 9vw;
  }
  .main-stipe-light {
    margin-top: 1vw;
    background-color: #ffffff;
  }
  .main-stipe-medium {
    background-color: #f5f4f9;
  }
  .main-stipe-hard {
    background-color: #5e42b0;
  }
  .main-stipe-dark {
    background-color: #090c35;
  }

  .basketball {
    max-width: 50%;
    margin-left: 40.75vw;
    position: absolute;
  }


  .main-heading-wrapper {
    display: flex;
    align-items: flex-end;
    padding-bottom: 1vw;
  }

  .main-heading-number {
    font-size: 0.9vw;
    font-family: "Open Sans";
    font-weight: bold;
    padding-right: 0.5vw;
    text-transform: uppercase;
    padding-left: 0;
    margin-bottom: 0.5vw;
  }
  .main-heading-number-n {
    font-size: 0.9vw;

    font-weight: bold;
    padding-right: 0.5vw;
    text-transform: uppercase;
    padding-left: 0;
    margin-bottom: 0.5vw;
  }
  .main-heading-number-n-x {
    font-size: 0.9vw;

    font-weight: bold;
    padding-right: 0.5vw;
    color: #5e42b0;
    text-transform: uppercase;
    padding-left: 0;
    margin-bottom: 0.5vw;
  }

  .main-heading-number::after {
    content: "";
    display: block;
    height: 5px;
    width: 19px;
    border: none;
    border-radius: 2px;
    background-color: #5e42b0;
  }

  .main-heading-number-n::after {
    content: "";
    display: block;
    height: 5px;
    width: 19px;
    border: none;
    border-radius: 2px;
    background-color: #ffffff;
  }
  .main-heading-number-n-x::after {
    content: "";
    display: block;
    height: 5px;
    width: 19px;
    border: none;
    border-radius: 2px;
    background-color: #ffffff;
  }
  .main-heading {
    color: #c1c1c1;
    font-size: 1.6vw;
    position: relative;
  }

  .main-desc-black {
  
    color: #000000;
    

    line-height: 28px;
    letter-spacing: 1px;
    padding-bottom: 48px;
  }
  .main-desc-white {
   
    font-weight: regular;
    color: #ffffff;
  

   
    padding-bottom: 48px;
  }

  /*=======article=======*/
  .article {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
  .article-wrapper {
    display: flex;
    background-color: #ffffff;
  }
  .article-wrapper:nth-of-type(2n) {
    display: flex;
    flex-direction: row-reverse;
    background-color: #ffffff;
  }

  .article-img {
    width: 100%;
  }
  .article-list {
    display: flex;
    width: 50%;
    margin-top: 10.5vw;
    margin-left: -4.15vw;
  }
  .article-list-2 {
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    margin-top: 10.5vw;
    padding-left: 0.5vw;
    margin-left: 4.25vw;
    margin-right: -4.15vw;
  }

  .article-heading-wrapper {
    margin-left: 2.25vw;
    margin-right: 9vw;
  }
  .article-heading-wrapper-2 {
    margin-right: 2.25vw;
  }

  .article-heading-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 8.3vw;
    height: 7.5vw;
    color: #ffffff;
    background-color: #5e42b0;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 1.2vw;
    text-transform: uppercase;
    padding-left: 0;
  }

  .article-heading-number::after {
    content: "";
    display: block;
    height: 5px;
    width: 23px;
    border: none;
    border-radius: 2px;
    background-color: #ffffff;
    opacity: 0.5;
  }

  .article-heading {
    color: #c1c1c1;
    font-size: 4vw;
    padding-bottom: 5.5vw;
  }

  .article-desc {
 
    color: #000000;
    font-size: 1.2vw;
  }

  /*=======FOOTER=======*/
  .footer {
    display: flex;
    justify-content: center;

    position: relative;
    background-image: url(../img/game_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer:before {
    content: "";
    position: absolute;
    background-color: #081a43;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .footer-wrapper {
    max-width: 1530px;
    margin-left: auto;
	margin-right: auto;
  }
  .footer-logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .footer-logo-svg-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    width: 130px;
    height: 130px;
    border: none;
    border-radius: 20px;
    background-color: #563ba3;
  }
  .footer-logo-svg {
    width: 105px;
    fill: #ffffff;
  }
  .footer-title-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 40px;
  }
  .footer-title {
    font-family: "Open Sans";

    color: #ffffff;
    font-size: 4vw;
    text-transform: uppercase;
  }
  .footer-desc {
    font-size: 1.5vw;
    color: #9689bb;
    text-transform: uppercase;
  }
  .footer-dwnl-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 280px;
  }
  .footer-logo-txt-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 145px;

    position: relative;
  }
  .footer-logo-txt {
    width: 185px;

    padding-bottom: 10px;
    fill: #ffffff;
  }
  .footer-wrapper-desktop {
    display: flex;
    justify-content: center;
    margin-top: 225px;
  }
}
/*======= COMMON =======*/
@media (min-width: 641px) and (max-width: 960px) {
  h2 {
    font-size: 80px;
    font-weight: bold;
    position: relative;
    color: #ffffff;
    text-transform: uppercase;
  }
  h3 {
    color: #c1c1c1;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
  }

  a {
    text-decoration: none;
  }

  /*=======Header=======*/
  .header {
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url(../img/football_767.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .header:before {
    content: "";
    position: absolute;
    background-color: #1c1737;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .header-logo-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .header-logo {
    width: 204px;
    fill: #ffffff;
    padding-top: 40px;
  }
  .header-title-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 175px;
    margin-bottom: 310px;
  }
  .header-title {
    font-size: 64px;
    font-weight: bold;
    position: relative;
    color: #ffffff;
    text-transform: uppercase;

    padding-left: 80px;
  }
  .header-desc {
    font-size: 64px;
    font-weight: bold;
    position: relative;
    color: #ffffff;
    text-transform: uppercase;

    padding-left: 178px;
  }

  .dwnl-wrapper {
    max-width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
  }
  .dwnl-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 25px;
  }
  .dwnl-get {
    font-size: 14px;
    font-weight: normal;
  }
  .dwnl-store {
    font-size: 14px;
    font-weight: bold;
  }
  .dwnl-apple,
  .dwnl-google {
    display: flex;
    height: 75px;
    width: 315px;
    background-color: #5e42b0;
    border: none;
    border-radius: 50px;

    color: #ffffff;
    font-family: "Open Sans";
    text-transform: uppercase;
  }
  .store-icon {
    width: 35px;
    fill: #ffffff;
    margin-left: 50px;
  }
  .dwnl-google {
    margin-left: 50px;
  }

  /*=======MAIN=======*/
  .main {
    position: relative;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
  }
  .main:before {
    content: "";
    position: absolute;
  }

  .picture-wrapper {
    max-width: 100%;
  }
  .main-img {
    max-width: 100%;
  }

  .main-title {
    font-size: 80px;
    font-weight: bold;
    color: #e7e7e7;
    line-height: 0.8;
    padding-bottom: 20px;
  }
  .football {
    position: absolute;
    margin-left: -160px;
  }

  .main-content-right {
    padding-left: 283px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .main-content-left {
    padding-right: 40.65vw;
    padding-left: 20px;
    padding-top: 2vw;
    margin-left: 10px;
    margin-right: 10px;
  }
  .main-stipe-light {
    margin-top: 85px;
    background-color: #ffffff;
  }
  .main-stipe-medium {
    background-color: #f5f4f9;
  }
  .main-stipe-hard {
    background-color: #5e42b0;
  }
  .main-stipe-dark {
    background-color: #090c35;
  }

  .basketball {
    right: 0;
    position: absolute;
  }

  .main-heading-wrapper {
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .main-heading-number {
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: bold;
    padding-right: 10px;
    text-transform: uppercase;
    padding-left: 0;
    margin-bottom: 7px;
  }
  .main-heading-number-n {
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: bold;
    padding-right: 10px;
    text-transform: uppercase;
    padding-left: 0;
    margin-bottom: 7px;
  }
  .main-heading-number-n-x {
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: bold;
    padding-right: 10px;
    color: #5e42b0;
    text-transform: uppercase;
    padding-left: 0;
    margin-bottom: 7px;
  }

  .main-heading-number::after {
    content: "";
    display: block;
    height: 5px;
    width: 19px;
    border: none;
    border-radius: 2px;
    background-color: #5e42b0;
  }

  .main-heading-number-n::after {
    content: "";
    display: block;
    height: 5px;
    width: 19px;
    border: none;
    border-radius: 2px;
    background-color: #ffffff;
  }
  .main-heading-number-n-x::after {
    content: "";
    display: block;
    height: 5px;
    width: 19px;
    border: none;
    border-radius: 2px;
    background-color: #ffffff;
  }
  .main-heading {
    color: #c1c1c1;
    font-size: 32px;
    position: relative;
  }

  .main-desc-black {
    font-family: "Open Sans";
    color: #000000;
    font-size: 16px;

    line-height: 28px;
    letter-spacing: 1px;
    padding-bottom: 30px;
  }
  .main-desc-white {
    font-family: "Open Sans";
    font-weight: regular;
    color: #ffffff;
    font-size: 16px;

    line-height: 28px;
    letter-spacing: 1px;
    padding-bottom: 30px;
  }

  /*=======article=======*/
  .article {
    margin-left: auto;
    margin-right: auto;
  }
  .article-wrapper {
    background-color: #ffffff;
  }

  .article-img {
    width: 100%;
  }
  .article-list {
    position: relative;

    margin-top: -85px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .article-list-2 {
    position: relative;

    margin-top: -75px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .article-heading-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .article-heading-wrapper-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .article-heading-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 116px;
    height: 116px;
    color: #ffffff;
    background-color: #5e42b0;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-left: 20px;
  }

  .article-heading-number::after {
    content: "";
    display: block;
    height: 5px;
    width: 25px;
    border: none;
    border-radius: 2px;
    background-color: #ffffff;
    opacity: 0.5;
  }

  .article-heading {
    color: #c1c1c1;
    font-size: 80px;
    padding-bottom: 30px;
    line-height: 0.8;
  }

  .article-desc {
    font-family: "Open Sans";
    color: #000000;
    font-size: 24px;
    padding-bottom: 100px;
  }

  /*=======FOOTER=======*/
  .footer {
    display: flex;
    justify-content: center;

    position: relative;
    background-image: url(../img/game_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer:before {
    content: "";
    position: absolute;
    background-color: #081a43;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .footer-wrapper {
    width: 100%;
    margin: 0 10px;
    padding-left: 0;
    padding-right: 0;
  }
  .footer-logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 125px;
    margin-bottom: 75px;
  }
  .footer-logo-svg-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    width: 130px;
    height: 130px;
    border: none;
    border-radius: 20px;
    background-color: #563ba3;
  }
  .footer-logo-svg {
    width: 105px;
    fill: #ffffff;
  }
  .footer-title-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 285px;
  }
  .footer-title {
    font-family: "Open Sans";

    color: #ffffff;
    font-size: 80px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  .footer-desc {
    font-size: 36px;
    color: #9689bb;
    text-transform: uppercase;
  }
  .footer-dwnl-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .footer-logo-txt-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
  }
  .footer-logo-txt {
    width: 185px;

    padding-bottom: 10px;
    fill: #ffffff;
  }
}
/*======= COMMON =======*/
@media (max-width: 640px) {
  h2 {
    font-size: 28px;
    font-weight: bold;
    position: relative;
    color: #ffffff;
    text-transform: uppercase;
  }
  h3 {
    color: #c1c1c1;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
  }
  p {
    font-size: 16px;
    margin: 0;
  }
  a {
    text-decoration: none;
  }
  /*=======Header=======*/
  .header {
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url(../img/football_767.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header:before {
    content: "";
    position: absolute;
    background-color: #1c1737;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .header-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-logo-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 30px;
    margin-bottom: 130px;
  }
  .header-logo {
    width: 132px;
    fill: #ffffff;
  }
  .header-title-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 85px;
  }
  .header-title {
    font-size: 28px;
    font-weight: bold;
    position: relative;
    color: #ffffff;
    text-transform: uppercase;
	padding-bottom: 11px;
  }
  .header-desc {
    font-size: 28px;
    font-weight: bold;
    position: relative;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 43px;
  }

  .dwnl-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 80px;
  }
  .dwnl-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 8px;
  }
  .dwnl-get {
    font-size: 8px;
    font-weight: normal;
  }
  .dwnl-store {
    font-size: 8px;
  }
  .dwnl-apple,
  .dwnl-google {
    display: flex;
    height: 6vh;
    width: 240px;
    background-color: #5e42b0;
    border: none;
    border-radius: 17px;
    margin: 0;
    color: #ffffff;
    font-family: "Open Sans";
    text-transform: uppercase;
    padding-left: 83px;
  }
  .store-icon {
    width: 20px;
    fill: #ffffff;
  }
  .dwnl-google {
    margin-top: 14px;
  }

  /*=======MAIN=======*/
  .main {
    position: relative;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
  }
  .main:before {
    content: "";
    position: absolute;
  }

  .picture-wrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .main-img {
    max-width: 100%;
  }

  .main-title {
    font-size: 50px;
    font-weight: bold;
    color: #e7e7e7;
    line-height: 0.8;
    padding-bottom: 245px;
    padding-left: 20px;
  }
  .football {
    position: absolute;
    padding-top: 60px;
    left: 64px;
    right: 64px;
  }
  .main-stipe-light {
    margin-top: 20px;
    background-color: #ffffff;
  }
  .main-stipe-extra {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fafafa;
  }
  .main-stipe-medium {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f5f4f9;
  }
  .main-stipe-hard {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #5e42b0;
  }
  .main-stipe-dark {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #090c35;
  }

  .basketball {
    position: absolute;
    padding-top: 60px;
  }

  .main-heading-wrapper {
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
    padding-top: 60px;
  }
  .main-heading-wrapper-mob {
    padding-top: 80px;
  }

  .main-heading-number {
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: bold;
    padding-right: 10px;
    text-transform: uppercase;
    padding-left: 0;
    margin-bottom: 7px;
  }
  .main-heading-number-n {
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: bold;
    padding-right: 10px;
    text-transform: uppercase;
    padding-left: 0;
    margin-bottom: 7px;
  }
  .main-heading-number-n-x {
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: bold;
    padding-right: 10px;
    color: #5e42b0;
    text-transform: uppercase;
    padding-left: 0;
    margin-bottom: 7px;
  }

  .main-heading-number::after {
    content: "";
    display: block;
    height: 5px;
    width: 19px;
    border: none;
    border-radius: 2px;
    background-color: #5e42b0;
  }

  .main-heading-number-n::after {
    content: "";
    display: block;
    height: 5px;
    width: 19px;
    border: none;
    border-radius: 2px;
    background-color: #ffffff;
  }
  .main-heading-number-n-x::after {
    content: "";
    display: block;
    height: 5px;
    width: 19px;
    border: none;
    border-radius: 2px;
    background-color: #ffffff;
  }
  .main-heading {
    color: #c1c1c1;
    font-size: 32px;
    position: relative;
  }

  .main-desc-black {
    font-family: "Open Sans";
    color: #000000;
    font-size: 16px;

    line-height: 28px;
    letter-spacing: 1px;
    padding-bottom: 50px;
  }
  .main-desc-white {
    font-family: "Open Sans";
    font-weight: regular;
    color: #ffffff;
    font-size: 16px;

    line-height: 28px;
    letter-spacing: 1px;
    padding-bottom: 50px;
  }

  /*=======article=======*/
  .article {
    margin-left: auto;
    margin-right: auto;
  }
  .article-wrapper {
    background-color: #ffffff;
  }

  .article-img {
    width: 100%;
  }
  .article-list {
    position: relative;

    margin-top: -60px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .article-list-2 {
    position: relative;

    margin-top: -60px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .article-heading-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 65px;
  }
  .article-heading-wrapper-2 {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 65px;
  }

  .article-heading-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 70px;
    height: 70px;
    color: #ffffff;
    background-color: #5e42b0;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .article-heading-number::after {
    content: "";
    display: block;
    height: 5px;
    width: 25px;
    border: none;
    border-radius: 2px;
    background-color: #ffffff;
    opacity: 0.5;
  }

  .article-heading {
    color: #c1c1c1;
    font-size: 28px;
    padding-bottom: 30px;
    line-height: 0.8;
  }

  .article-desc {
    font-family: "Open Sans";
    color: #000000;
    font-size: 16px;
  }

  /*=======FOOTER=======*/
  .footer {
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url(../img/game_767.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer:before {
    content: "";
    position: absolute;
    background-color: #081a43;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer-logo-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 95px;
    margin-bottom: 55px;
  }
  .footer-logo-svg-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    width: 74px;
    height: 74px;
    border: none;
    border-radius: 20px;
    background-color: #563ba3;
  }
  .footer-logo-svg {
    width: 60px;
    fill: #ffffff;
  }
  .footer-title-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 76px;
  }
  .footer-title {
    font-family: "Open Sans";

    color: #ffffff;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 0.2vw;
  }
  .footer-desc {
    font-size: 14px;
    color: #9689bb;
    text-transform: uppercase;
  }
  .footer-dwnl-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 76px;
  }
  .footer-logo-txt-wrapper {
    display: flex;
    justify-content: center;

    padding-bottom: 11px;
    position: relative;
  }
  .footer-logo-txt {
    width: 132px;
    height: 37px;
    fill: #ffffff;
  }
}
/*=====================================*/
