/*======= COMMON =======*/
@font-face {
  font-family: "Open Sans";
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}
h2 {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
 
}
h3{
font-family: "Open Sans", Arial, sans-serif;
font-weight: 700;

}
h4 {
 font-family: "Open Sans", Arial, sans-serif;
 font-weight: 700;

}

a {
  text-decoration: none;
}
a:hover {
  color: #ef7d55;
}
a:active {
  color: #497ddd;
}
ul{
  padding-left:0;
}
.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
img{
	display:block;
}
.content {
  margin: 63px 0 0 0;
}

.content-wrapper {
  width: 1200px;
  padding: 0 15px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}


/*======= HEADER =======*/

.header {
	position:relative;

  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
    padding: 30px 0;
}

.header:before {
  content: "";

  position: absolute;

  background-color: #000000;
  opacity: 0.6;
  top:0;
  left:0;
  bottom:0;
  right:0;
}
.header-wrapper{
  width: 1200px;
  padding: 0 15px;
  margin: auto;
  position: relative;
  z-index:2;
}
.header-navigation{
display: flex;
 justify-content: space-between;
 align-items: center;

	
}

.menu-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
}
.menu-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: normal;
}
.menu-list-item:not(:first-child){
  margin-left: 35px;
}
.title {
  font-family: "Open Sans";
  font-size: 45px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  width: 740px;
  position: relative;
  margin: auto;
  padding: 124px 0;
}
/*======= MAIN =======*/

.header-h3{
	margin-bottom:0;
	text-transform: uppercase;
}

.main {
  width: 780px;
}

.posts {
  display: block;
  float: left;
  width: 778px;
  margin-right: auto;
  margin-left: auto;
}
.post {
  display: flex;
 
}

.post:nth-child(n + 2) {
  margin-top: 59px;
}

.post-info {
  box-sizing: border-box;
  width: 367px;
  margin-left: 30px;
  font-size: 15px;
  line-height: 22px;
  
}
.post-da {
  display: flex;
  margin-top: 30px;
}
.post-category{
list-style-type: none;
padding: 0;
margin: 0;
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
align-items: flex-start;
}

.post-category-item:not(:last-child) {
  margin-right: 10px;
}
.post-category-link {
text-decoration: none;
text-transform:uppercase;
display: block;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;
  color: #b59f5b;
}
.post-date {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  color: #888888;
  text-align: left;
}
.post-autor {
  margin-left: 15px;
  font-size: 12px;
  font-weight: 700;
  color: #000000;
}
.post-name {
  display: flex;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}
.post-description {
  margin-top: 50px;
  font-weight:400;
}
/*======= ASIDE =======*/
.header-h4{
	margin: 0;
	text-transform: uppercase;
	  font-size: 14px;
  line-height: 18px;
}
.sidebar {
  width: 272px;
}
.sidebar-title {
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.sidebar-title::after {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  background-color: #b59f5b;
  margin: 10px auto 0;
}
.latestpost {
  display: flex;

}
.latestpost:nth-of-type(n + 2) {
  margin-top: 22px;
}


.latestpost-info {
  box-sizing: border-box;
  margin-left: 17px;
}
.latestpost-name {
  text-align: left;
  color: #000000;
}
.search {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 45px;
}
.search-label{
  box-sizing: border-box;
  position:relative;
  display: inline-block;
  vertical-align: middle;
 
  
}
.search-field {

  font-size: 14px;
  width: 220px;
  height: 50px;
   border: none;
  margin: 0;
  padding: 5px 10px;
  
  background-color: #e9eceb;
}
.search-button {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 15px center;
  box-sizing: border-box;
  position:absolute;
  height: 50px;
  width: 50px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  background-color: #b59f5b;
}
.subscribe {
  margin-top: 55px;
}

.button {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  box-sizing: border-box;
  height: 50px;
  width: 272px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  background-color: #b59f5b;
  margin-top: 15px;
}
.subscription-label{
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}
.subscribe-field {

  font-size: 14px;
  width: 272px;
  height: 50px;
  border: none;
  margin: 0;
  padding: 5px 10px;
  background-color: #e9eceb;
}

.tags {
  margin-top: 55px;
}
.tags-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
.tags-items{
margin:0;
display: flex;
flex-wrap: wrap;

}
.tags-item{
list-style-type: none;
margin: 5px 10px 5px 0;


}
.tags-item-hr {
  display: block;
  border: 4px solid #e9eceb;
  padding:5px 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  color: #000000;
}

.categories {
  margin-top: 55px;
}
.categories-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  color: #000000;
}
.categories-items{
	margin:0;
}
.categories-item {
  display: block;
  border-bottom: 1px solid #e9eceb;
  font-size: 14px;
  font-weight: 700;
  line-height: 47px;
  text-align: left;
}
.categories-item-hr {
  color: #000000;
}
.sup {
  vertical-align: super;
  font-size: 12px;
  color: #b59f5b;
  margin-left: 5px;
}

/*======= FOOTER =======*/

.footer {
  margin: 70px 0 20px;
}
.footer-wrapper{
  width: 1200px;
  margin: auto;
  padding: 0 15px;
  
}
.footer-address {
  background-color: #e9eceb;
  padding:30px 0;
}
.address-list{

	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

}
.address-list-item:not(:last-child) {
	margin-right: 17px;
}
.address-list-link{
	text-decoration: none;
	display: block;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20px 20px;
}
.address-link-pinterest{
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg");
 }
.address-link-fb{
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg");
}
.address-link-tumblr{
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
}
.address-link-twitter{
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg");
}
.address-link-instagram{
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg");
}
.copyright {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
.copyright-name {
  font-size: 12px;
  font-weight: 700;
  color: #999999;
}

